<div class="container">
  <div class="row">
         <div class="col-md-12">

          <div class="card">
            <div class="card-header bg-dark text-center text-white">
              Company Module
            </div>
            <div class="card-body">

              <button mat-fab color="primary" data-toggle="modal" data-target="#CompanyAddModal">
                <mat-icon>add_circle_outline</mat-icon>
              </button>

              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Vessel Search">
              </mat-form-field>

              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                 <th mat-header-cell *matHeaderCellDef> Name </th>
                 <td mat-cell *matCellDef="let element"> {{element.name}} </td>
               </ng-container>
   
               <!-- Code Column -->
               <ng-container matColumnDef="code">
                 <th mat-header-cell *matHeaderCellDef> Code </th>
                 <td mat-cell *matCellDef="let element"> {{element.code}} </td>
               </ng-container>

               <!-- Adress Column -->
               <ng-container matColumnDef="adress">
                <th mat-header-cell *matHeaderCellDef> Adress </th>
                <td mat-cell *matCellDef="let element"> {{element.adress}} </td>
              </ng-container>

              <!-- Code Column -->
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
   
               
   
                 <!--view-->
                 <ng-container matColumnDef="ver">
                   <th mat-header-cell *matHeaderCellDef> Ver </th>
                   <td mat-cell *matCellDef="let element"> 
                     <button mat-icon-button color="primary">
                       <mat-icon>visibility</mat-icon>
                     </button>  
                   </td>
                 </ng-container>
   
                   <!--edit-->
                   <ng-container matColumnDef="editar">
                     <th mat-header-cell *matHeaderCellDef> Editar </th>
                     <td mat-cell *matCellDef="let element"> 
                       <button mat-icon-button color="primary" (click)="GetCompany(element)" data-toggle="modal" data-target="#CompanyEditModal"  aria-label="Example icon button with a heart icon">
                         <mat-icon>edit</mat-icon>
                       </button>  
                     </td>
                   </ng-container>
   
                     <!--eliminar-->
                 <ng-container matColumnDef="eliminar">
                   <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                   <td mat-cell *matCellDef="let element"> 
                     <button mat-icon-button color="primary" (click)="onCompanyDeleteSubmit()"  aria-label="Example icon button with a heart icon">
                       <mat-icon>delete</mat-icon>
                     </button>  
                   </td>
                 </ng-container>
               
             
               <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
               <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
             </table>
             <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>


            </div>
          </div>

         </div>
  </div>
</div>

<!--Add Comapany Modal-->
<div class="modal fade" id="CompanyAddModal" tabindex="-1" role="dialog" aria-labelledby="VesselModalAdd" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-center text-white">
        <h5 class="modal-title" id="exampleModalLabel">
          <mat-icon aria-hidden="false" aria-label="Example home icon">location_city</mat-icon>
          Add Company Modal
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form [formGroup]="companyForm" (submit)="onCompanyAddSubmit(companyForm)">
      <div class="modal-body">
       

          <!--Name Form-->
          <div class="form-group">

            <mat-form-field appearance="legacy">
              <mat-label>Company Name</mat-label>
              <input matInput placeholder="Enter the Vessel Name" formControlName="name" required>
              <mat-icon matSuffix>anchor</mat-icon>
              <mat-hint>Hint</mat-hint>
              <mat-error *ngIf="companyForm.controls.name.hasError('required')">
                Company Name is Required
              </mat-error>
            </mat-form-field>

          </div>

           <!--Code Form-->
           <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Vessel Code</mat-label>
              <input matInput placeholder="Enter the Vessel Code" formControlName="code" required>
              <mat-icon matSuffix>qr_code_scanner</mat-icon>
              <mat-hint>Hint</mat-hint>
              <mat-error *ngIf="companyForm.controls.code.hasError('required')">
                Company Code is Required
              </mat-error>
            </mat-form-field>
          </div>

          <!--Adress Form-->
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Vessel Code</mat-label>
              <input matInput placeholder="Enter the Vessel Code" formControlName="adress" required>
              <mat-icon matSuffix>qr_code_scanner</mat-icon>
              <mat-hint>Hint</mat-hint>
              <mat-error *ngIf="companyForm.controls.adress.hasError('required')">
                Companny Adress is Required
              </mat-error>
            </mat-form-field>
          </div>

        <!--Phone form-->
        
          <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput formControlName="phone" placeholder="555-555-1234" required>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="companyForm.controls.phone.hasError('required')">
              Companny Phone is Required
            </mat-error>
          </mat-form-field>
        
       
          

      </div>
      <div class="modal-footer">
        <button mat-icon-button  [disabled]="!companyForm.valid"  aria-label="Example icon button with a vertical three dot icon">
          <mat-icon color="primary">send</mat-icon>
        </button>
      </div>
       </form>
    </div>
  </div>
</div>



<!--Edit Comapany Modal-->
<div class="modal fade" id="CompanyEditModal" tabindex="-1" role="dialog" aria-labelledby="VesselModalAdd" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-center text-white">
        <h5 class="modal-title" id="exampleModalLabel">
          <mat-icon aria-hidden="false" aria-label="Example home icon">location_city</mat-icon>
          Edit Company Modal
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form [formGroup]="companyForm" (submit)="onCompanyEditMethod(companyForm)">
      <div class="modal-body">
       

          <!--Name Form-->
          <div class="form-group">

            <mat-form-field appearance="legacy">
              <mat-label>Company Name</mat-label>
              <input matInput placeholder="Enter the Vessel Name" formControlName="name" required>
              <mat-icon matSuffix>anchor</mat-icon>
              <mat-hint>Hint</mat-hint>
              <mat-error *ngIf="companyForm.controls.name.hasError('required')">
                Company Name is Required
              </mat-error>
            </mat-form-field>

          </div>

           <!--Code Form-->
           <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Vessel Code</mat-label>
              <input matInput placeholder="Enter the Vessel Code" formControlName="code" required>
              <mat-icon matSuffix>qr_code_scanner</mat-icon>
              <mat-hint>Hint</mat-hint>
              <mat-error *ngIf="companyForm.controls.code.hasError('required')">
                Company Code is Required
              </mat-error>
            </mat-form-field>
          </div>

          <!--Adress Form-->
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <mat-label>Vessel Code</mat-label>
              <input matInput placeholder="Enter the Vessel Code" formControlName="adress" required>
              <mat-icon matSuffix>qr_code_scanner</mat-icon>
              <mat-hint>Hint</mat-hint>
              <mat-error *ngIf="companyForm.controls.adress.hasError('required')">
                Companny Adress is Required
              </mat-error>
            </mat-form-field>
          </div>

        <!--Phone form-->
        
          <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput formControlName="phone" placeholder="555-555-1234" required>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="companyForm.controls.phone.hasError('required')">
              Companny Phone is Required
            </mat-error>
          </mat-form-field>
        
       
          

      </div>
      <div class="modal-footer">
        <button mat-icon-button  [disabled]="!companyForm.valid"  aria-label="Example icon button with a vertical three dot icon">
          <mat-icon color="primary">send</mat-icon>
        </button>
      </div>
       </form>
    </div>
  </div>
</div>

